nav {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: #ef0554;
}
.logo {
  color: #fff;
  text-transform: capitalize;
  font-size: 24px;
  cursor: pointer;
  font-weight: 900;
  letter-spacing: 1px;
}
.logo span {
  color: deepskyblue;
}
.menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: space-around;
  width: 30%;
}
.menu li {
  list-style: none;
}
.menu a {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  padding: 30px;
  font-weight: 600;
  transition: 0.9s;
}
.menu a:hover {
  letter-spacing: 2px;
}
.bar {
  display: none;
  cursor: pointer;
}
.bar div {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
  transition: all 0.5s ease;
}
@media screen and (max-width: 1024px) {
  .menu {
    width: 60%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .menu {
    position: absolute;
    right: -100%;
    height: 90vh;
    top: 10vh;
    background-color: #000;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
  }
  .bar {
    display: block;
  }
}
.nav-active {
  transform: translateX(-100%);
}
.bar-active .bar-1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.bar-active .bar-2 {
  opacity: 0;
}
.bar-active .bar-3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
